@import './variables.css';

body {
  background-color: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none; 
  color: var(--black); 
}

.login-box {
  background-color: var(--white);
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 1px solid #ccc;
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}

.input-container label {
  display: block;
  color: #555;
  margin-bottom: 5px;
}

.input-container input {
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 80%;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  color: var(--grey);
  font-size: 18px;
}

.show-password {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

.show-password input {
  margin-right: 10px;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  background: linear-gradient(90deg, var(--purple), var(--orange));
  cursor: pointer;
  margin-bottom: 10px;
}

.button.secondary {
  background: none;
  border: 1px solid #999;
  color: #555;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.divider hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.divider span {
  margin: 0 10px;
  color: #777;
}

.terms {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}