.headingContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.8rem;
}

.heading {
    font-size: 20px;
    font-weight: 700;
}

.line {
    height: 4px;
    background-image: linear-gradient(to right, var(--purple), var(--orange));
}
