.label {
    font-size: 1.1rem;
    font-weight: 500;
}

.inputContainer {
    position: relative;
}

.input {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem 2.5rem 1rem 1rem;
    border: 1px solid var(--black);
    color: var(--black);
    margin-top: 12px;
}

.input::placeholder {
    font-weight: 300;
}

.input:hover {
    background-color: var(--white2);
}

.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
